node_modules
dist
dist-pw
dist-ssr
*.local
*.log
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.env
.env.local
npm-install.log

*.tsbuildinfo
.tsbuild
test.log
build.log
test-results/
playwright-report/
